.pwa-toast {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 16px;
    padding: 12px;
    border: 1px solid #8885;
    border-radius: 4px;
    z-index: 99999;
    text-align: left;
    box-shadow: 3px 4px 5px 0 #8885;
    background-color: #fff;
    transition: opacity ease .5s, visibility ease .5s;
}
.pwa-toast .pwa-msg {
    margin-bottom: 8px;
}
.pwa-toast button {
    float: right;
    border: 1px solid #8885;
    outline: none;
    margin-right: 5px;
    border-radius: 2px;
    padding: 3px 10px;
    background-color: #F5F7FA;
}
.pwa-toast.show {
    visibility: visible;
    opacity: 1;
}