.pwa-toast {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    right: 16px;
    bottom: 16px;
    padding: 12px;
    max-width: 240px;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
    font-size: 14px;
    box-sizing: border-box;
    z-index: 9999;
    text-align: left;
    -webkit-transition: opacity ease .5s, visibility ease .5s;
    transition: opacity ease .5s, visibility ease .5s;
}
.pwa-toast button {
    float: right;
    border: 1px solid #F72C5B;
    margin-left: 5px;
    margin-top: 8px;
    border-radius: 2px;
    padding: 2px 8px;
    background-color: #F72C5B;
    font-weight: 500;
    font-size: 86%;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.pwa-toast button,
.pwa-toast button:active,
.pwa-toast button:hover {
    color: #fff;
    outline: none;
}
.pwa-toast button:hover {
    border-color: #f96b8c;
    background-color: #f96b8c;
}
.pwa-toast button:active {
    border-color: #ca274d;
    background-color: #ca274d;
}
.pwa-toast .pwa-refresh {
    display: none;
}
.pwa-toast.is-refresh .pwa-refresh {
    display: block;
}
.pwa-toast.show {
    visibility: visible;
    opacity: 1;
}